@import url("//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
*{
box-sizing: border-box;
}
body{
    background-color: #FFF;
 
}
/* #main{
    background-image: url('../images/cor.png');
    background-position: center;
    background-size: cover;
    background-position-y: 300px;
    background-repeat: no-repeat; 
 } */
p{
    color:whitesmoke;
}

header{
padding-bottom:30px;
border-bottom: 3px solid  #75E6DA;
}
va
{

    border-bottom: 3px solid  #5df3e485;

}