
header {
  display: flex;
  justify-content:space-around;
}

  .nav-link {
       text-decoration: none;
       color: #05445E;

   }
 .nav-item {
    display: inline-block;
    font-size:25px;
    padding:20px; 
    margin-top:20px;
} 
.nav-item:hover {
  text-decoration: underline;
}
.userInput {
  margin-top: 20px;
  text-align: center;
  font-size: 35px;
  display: none;

}

/* #nav{
 margin-left: 850px;
} */
header{
  margin-bottom:0px;

}
fieldset {
  margin-top: 100px;
  border: #004d66 solid 2px;
  border-width: 15px;
  border-radius: 84px;
  margin-bottom: 70px;
  border-bottom: 2px solid  rgb(117, 230, 218);

}


 
.input-discoverPage{
border: 0;
outline: 0;
font-size:15px;
border-radius: 20px;
padding: 15px;
background-color: whitesmoke;
margin:auto;

background-color: rgb(221, 221, 221);
margin:15px;

}
 #form-discoverPage{
  margin-left: 60px;
 }

#ShowResult{
    color: #05445E;
    font-weight: bold;
    background-color: rgb(221, 221, 221);
    font-size:18px;
    cursor: pointer;
    font-weight: 300;
    width: 148px;
    height:48px;
    font-family: 'Goldman', cursive;
    

  }
  #ShowResult:hover{
    background: linear-gradient(86deg, rgb(117, 230, 218), rgb(13, 241, 130));
      transform: scale(1,1.11);
  }

.section-covid{
    width:200px;
 
}
#covid-result{
  display: flex;
  margin-top: 28px;
  margin-right: 139px;
  justify-content: space-around;
  margin-left: 5px;

    }

    .covid-p{

      font-size:20px;
       color: #05445E;
        border:1px solid rgb(224, 221, 221);
        width: 312px;
        height: 75px;
        padding:15px;

        box-shadow: 0 8px 16px 0 rgb(0 0 0 / 0%), 0 6px 20px 0 rgb(0 0 0 / 12%);
        border-left: 4px solid  #48b781;
        border-radius: 4px;
    }
   .fa-users, .fa-bed , .fa-child , .fa-bell{
      color:#48b781;
      padding-right: 5px;
        text-align: center;
        box-shadow: 1px 3px 5px white ;
    }
  
.list-covid{
    color:#00F;
       box-shadow: 1px 3px 5px #05445E;

    }
  
   .list-covid{
    display: inline-block;
    color:rgb(32, 32, 32);
 
}
strong{
    color:  #48b781;
    font-weight: bold;
    font-size:35px;
    text-align: center;
 
}
  .section-covid strong{
 color:  #48b781;
 font-weight: bold;
 font-size:35px;
 display: block;
 text-align: center;
}
ul#section-listCovid{
  display: inline-block;
  width: 50%;
  height: auto;
  background-color: #FFF;
  /* margin-right: 300px; */
}
#world-img{
  display: block;
}
#title-world{
  color: #004d66;
  display: inline-block;
  font-size: 80px;
}

#section-listCovid li{

   display: block;
    /* border-right: .18em solid  #77160d; */
    border-right: .18em solid  #05445E;
    font-family: "Courier";
    font-size: 30px;
    white-space: nowrap;
    overflow: hidden;  
    margin-left:35px;
    padding: 50px;
    margin-top:30px;
    text-align: left            ;
}
.userInput{

  margin: auto;

}
.userInput h3{
display: inline-block;
}
 
#section-listCovid li:nth-child(1) {
  
    width: 23.3em;
    -webkit-animation: type 2s steps(40, end);
    animation: type 2s steps(40, end);
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
    
  }
  
  #section-listCovid li:nth-child(2) {
    width: 23.3em;
    opacity: 0;
    -webkit-animation: type2 2s steps(40, end);
    animation: type2 2s steps(40, end);
    -webkit-animation-delay: 2s;
    animation-delay: 2s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  } 
  
  #toral-record{
    display: flex;
    position: relative;
    margin: auto;
    width: 100%;
    height: 520px;
    /* background-color: black; */
    /* margin-top: 100px; */
    padding: 20px;

  }

  #section-listCovid li:nth-child(3) {
    width: 23.3em;
    opacity: 0;
    -webkit-animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    animation: type3 5s steps(20, end), blink .5s step-end infinite alternate;
    -webkit-animation-delay: 4s;
    animation-delay: 4s;
    -webkit-animation-fill-mode: forwards;
    animation-fill-mode: forwards;
  } 
  
  @keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #48b781;
    }
    100% {
      border: none;
    }
  }
  
  @-webkit-keyframes type {
    0% {
      width: 0;
    }
    99.9% {
      border-right: .15em solid #48b781;
    }
    100% {
      border: none;
    }
  }
  
  @keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid  #48b781;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @-webkit-keyframes type2 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    99.9% {
      border-right: .15em solid #48b781;
    }
    100% {
      opacity: 1;
      border: none;
    }
  }
  
  @keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @-webkit-keyframes type3 {
    0% {
      width: 0;
    }
    1% {
      opacity: 1;
    }
    100% {
      opacity: 1;
    }
  }
  
  @keyframes blink {
    50% {
      border-color: transparent;
    }
  }
  @-webkit-keyframes blink {
    50% {
      border-color: transparent;
    }
  }
 
/* iframe */
#url{
     display: block;
     margin-left: auto;
     margin-right: auto;
     width: 90%;
     height: 90%;
     margin-top: 10px;

 
}
#cancel{
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: 95%;
  margin-top: 50px;

}
#cancelIcon{
  position: fixed;
  right: 5%;
  top: 3%;
  font-size: 30px;
  color: red;
}

#cancel{
  position: relative;
}