#discover-button {
    font-size: 25px;
    width: 8em;
    height: 2em;
    border-left: 0.08em solid white;
    /* margin-top: 0.8em; */
    cursor: pointer;
    /* position: absolute; */
    text-align: center;
    top: auto;
    /* left: 680px; */
    padding: 0;
    list-style-type: none;
    color:white;
}

#discover-button span {
    height: 120%;
    box-sizing: border-box;
    /* border: 0.08em solid white; */
    border: 0.08em solid white;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s; 
}  
#discover{
  text-decoration: none;
  color:whitesmoke;
}
#discover-button:hover span {
    transform: translateX(0.15em);
}

#news-section{
    
    width: 95%;
    height: 380px;
    display:flex;
    grid-column: 2;
    grid-template-columns: repeat(2,35%,35%);
    background-color:#ecf2f3;
    margin:30px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    font-size:18px;
    
}

#news-section section{
    margin-top: 10px;
}

.rows{
  margin-left: 10px;
  padding: 10px;
  display:grid;
  grid-template-rows: repeat(3,33.3333%);
  margin-top: 10px;

}
#news-img{
    padding-top:20px;
    padding-left:20px;
    width: 350px;
    height:325px;
    grid-row: 1;
    grid-column: 1/3;
}


.news-title{
  margin-top:20px;
    color: #05445E;
    font-weight: 700;
    font-family: helvetica;
    text-decoration: none;
    text-transform: uppercase;
    grid-row: 1;
    grid-column: 2;
}
.news-title:hover{
  cursor: pointer;
  text-decoration:underline ;
}
#news-p{
  color: #05445E;
    grid-row: 2;
    grid-column: 2;
}
#news-title:hover {
  text-decoration: underline;
}
form{
    grid-row: 3;
    grid-column: 2;
}

#news-title:active {
   color: #05445E;
}

#popUp{
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1;
  background-color: rgba(128, 128, 128, 0.603);
  display: none;
}

.like-review{
    grid-row: 3;
    grid-column: 1;
    width: 80px;
    height: 40px;
    color: red;
    font-size:18px;
    padding:5px;
    cursor: pointer;

    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    font-family: 'Lobster', cursive;

    }
    .like-review:hover {
        opacity: 1;
        transform: rotateY(40deg);
      }
      .like-review:focus{
        outline: none;
      }
.delet-button{
    grid-row: 3;
    grid-column: 2;
    width: 80px;
    height: 40px;
    color: black;
    font-size:18px;
    padding:5px;
    cursor: pointer;
    background: #f3f0f1;
    margin-bottom: 25px;
    border-radius: 32px;
    text-align: center;
    width:90px;
    height: 40px;
    cursor: pointer;
}
.delet-button:focus{
  outline: none;
}
.delet-button:hover {
    opacity: 1;
    transform: rotateY(40deg);
  }
#just-trying{
    margin-top: 100px;
    width: 1300px;
    height: 1000px;
    margin-left:120px;
}


/*   for Discover Button   */
.wrap {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 300px;
    min-height: 60px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  .button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  .button:hover::before, .button:focus::before {
    opacity: 1;
  }
  
  .button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  .button:hover::after, .button:focus::after {
    animation: none;
    display: none;
  }

   @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }}
/* /* signin/ signout form design * */

  body {
    
    margin:0;
    padding:0;
    font-family: sans-serif;
    background-color:white;
  }
  
  .login-box {
    position: relative;
    top:36px;
    margin:auto;
    width: 400px;
    padding: 40px;
    /* transform: translate(-50%, -50%); */
    background: rgba(0,0,0,.5);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0,.6);
    border-radius: 10px;
    background: linear-gradient(#141e30, #243b55);

  }
  
  .login-box h1 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
    font-size:30px;
  }
  
  .login-box .user-box {
    position: relative;
  }
  
  .login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: rgba(255, 255, 255, 0.37);
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: transparent;
   
  }
  .login-box .user-box label {
    position: absolute;
    top:0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: .5s;
    opacity: 0.1;
  }
  
  .login-box .user-box input:focus ~ label,
  .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
  }
  
  .login-box form .signIn-button{
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: .5s;
    margin-top: 40px;
    letter-spacing: 4px
  }
  
  .login-box .signIn-button:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
  }
  
  .login-box .signIn-button span {
    position: absolute;
    display: block;
  }
  
  .login-box .signIn-button span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
  }
  
  @keyframes btn-anim1 {
    0% {
      left: -100%;
    }
    50%,100% {
      left: 100%;
    }
  }
  
  .login-box .signIn-button span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: .25s
  }
  
  @keyframes btn-anim2 {
    0% {
      top: -100%;
    }
    50%,100% {
      top: 100%;
    }
  }
  
  .login-box .signIn-button span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: .5s
  }
  
  @keyframes btn-anim3 {
    0% {
      right: -100%;
    }
    50%,100% {
      right: 100%;
    }
  }
  
  .login-box .signIn-button span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: .75s
  }
  
  @keyframes btn-anim4 {
    0% {
      bottom: -100%;
    }
    50%,100% {
      bottom: 100%;
    }
  }
  
 


  
*{
  font-family: 'Montserrat', sans-serif;
}
.infopage{
  display: flex;
  flex-direction: row;
}

.aboutInfo{
    display: flex;
    flex-direction: column;
    width: 50%;
  
}

.atxt {
    color: white;
    background-color:#05445E;
    margin: 30px;
    padding: 10px;
    border-radius: 25px;
}

.st {
    color: white;
    background-color: #189AB4;
    margin: 30px;
    padding: 30px;
    border-radius: 25px;
}

.feedz {

  width: 50%;
 
}

.feedform{
background-color: #75E6DA;
margin: 40px;
padding: 30px;
border-radius: 25px ;
}

*{
  font-family: 'Montserrat', sans-serif;
}

.auTitle{
  color: white;
  background-color: #189AB4;
  margin: 40px 150px 40px 150px;
  padding: 10px 10px 10px 100px;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);

}

.auContainer{
  border: 3px solid #D4F1F4;
  border-radius: 50px;
  padding: 20px;
  display: flex;
  height: auto;
  margin: 20px 200px 20px 200px  ;
  flex-direction: row;
  flex-wrap: wrap;

}

.story {
  color: 05445E;
  height: 50%;
  width: 50%;
  padding: 10px 100px 10px 30px;
  margin: 70px 10px 10px 70px;
  background-color: #D4F1F4;
  border: 1px solid white;
  border-radius: 50px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
}


#imgTeam{
  border-radius: 50%;
}


.member-card {
    background-color: transparent;
    width: 200px;
    height: 200px;
    perspective: 1000px;
    
  }
  
  .member-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    border: 1px solid white;
    border-radius: 50%;
  }
  
  .member-card:hover .member-card-inner {
    transform: rotateY(180deg);
  }
  
  .member-card-front, .member-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border: 1px solid white;
    border-radius: 50%;
  }
  
  .member-card-front {
    background-color: #75E6DA;
    color: rgb(255, 255, 255);
  }
  
  .member-card-back {
    background-color: #29b9b9;
    color: white;
    transform: rotateY(180deg)
  }



  #how-sec {
    margin-top: 50px;

  }

  .how-ul {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    width: 100%;
  }

  /* #left {
      margin-left: 200px;
    } */

  .how-ul li {
    color: #fff;
    font-size: 30px;
    list-style: none;
    cursor: pointer;
    background: linear-gradient(86deg, rgb(117, 230, 218), rgb(13, 241, 130));
    ;
    border-radius: 50px;
    margin: 15px;
    width: 350px;
    height: 65px;
    line-height: 65px;
    text-align: center;
  }

  .button {
    background-color: #4CAF50;
    /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    -webkit-transition-duration: 0.4s;
    /* Safari */
    transition-duration: 0.4s;
    margin-top: 130px;
  }

  .button2:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
  }

  #img-container {
    margin-top: 100px;
  }

  .img-select,
  video {
    /* margin-left: 200px; */
    width: 1000px;
    height: 500px;
    margin-left: 20%;
    display: none;
    border: red 2px solid;
    /* background-color: royalblue; */
  }

  #defult {
    /* margin-left: 200px; */
    width: 1000px;
    margin-left: 20%;
    border: red 2px solid;
  }







