
#discover-button {
    font-size: 25px;
    width: 8em;
    height: 2em;
    border-left: 0.08em solid white;
    margin-top: 0.8em;
    cursor: pointer;
    position: absolute;
    top: 520px;
    left: 680px;
    padding: 0;
    list-style-type: none;
    color:white;
}

#discover-button span {
    height: 120%;
    box-sizing: border-box;
    /* border: 0.08em solid white; */
    border: 0.08em solid white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: sans-serif;
    text-transform: capitalize;
    transform: translateX(calc(-0.15em * 3 - 0.08em * 2));
    transition: 0.3s; 
}  

#discover-button:hover span {
    transform: translateX(0.15em);
}
#logo{
    float: left;
    letter-spacing: 0.5rem;
    color: red;
    margin-top: -68px;
    margin-left: 68px;
    font-family: 'Syne Mono', monospace;

}

