<!DOCTYPE html>
<html lang="en">

<head>
    <title>About Us</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap">
    <link rel="stylesheet" href="/public/style/aboutUs.css">
</head>

<body>
    <header>
        <h1>
            head
        </h1>
    </header>
    <div class="infopage">
        <div class="aboutInfo">
            <div class="website">
                <h1 class="atxt">
                    Our Website
                </h1>
                <p class="st">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere eius pariatur dignissimos facilis?
                    Ipsum
                    ipsa necessitatibus amet assumenda error, quisquam voluptatum doloribus, iure perferendis fugiat
                    perspiciatis eligendi. Earum, consequuntur aliquid.
                </p>
            </div>
            <div class="guide">
                <h1 class="atxt">
                    Users Guide
                </h1>
                <p class="st">
                    Lorem ipsum dolor, sit amet consectetur adipisicing elit. Facere eius pariatur dignissimos facilis?
                    Ipsum
                    ipsa necessitatibus amet assumenda error, quisquam voluptatum doloribus, iure perferendis fugiat
                    perspiciatis eligendi. Earum, consequuntur aliquid.
                </p>
            </div>
        </div>
        <div class="feedz">

            <h1 class="st">
                Contact Form
            </h1>
            <form class="feedform" action="/action_page.php">
                <label for="fname">E-mail:</label>
                <input type="text" id="fname" name="fname"><br><br>
                <label for="lname">Suggestions:</label>
                <input type="text" id="lname" name="lname"><br><br>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>

    <footer>
        <h1>
            foot
        </h1>
    </footer>
</body>

</html>