<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap">
    <link rel="stylesheet" href="/public/style/developerTeam.css">
  
    <title>Developer Team</title>
</head>

<body>
    <header>
        <h1>
            head
        </h1>
    </header>

    <div class="auTitle">
        <h1>
            The Dragons
        </h1>
    </div>

    <div class="auContainer">

        <div class="m-1">

            <div class="member-card">
                <div class="member-card-inner">
                    <div class="member-card-front">
                        <img src="https://lh3.googleusercontent.com/proxy/y2EBxiqSrn7fzqLCBUduCdQFCNBvWklFbfSVbgZ6NGXZ51oJzOPArwGKiUsdW4Yi6YochebqttZp0ObE8HQ-RBMeC7KcF5akDnZKDH-zE_BpSV-YgGnfnegLd6qzjIKbcaqMlw"
                            alt="Member" style="width:200px;height:200px;">
                    </div>

                    <div class="member-card-back">
                        <h1>Diala</h1>
                        <p>Mathematics</p>
                        <p>The Boss</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="story">
            <p>
                Explosive
            </p>
        </div>



        <div class="m-2">

            <div class="member-card">
                <div class="member-card-inner">
                    <div class="member-card-front">
                        <img src="https://i.pinimg.com/originals/48/d9/c3/48d9c3b748b0eda60ffbc030d3072132.png"
                            alt="Member" style="width:200px;height:200px;">
                    </div>

                    <div class="member-card-back">
                        <h1>Ahmad</h1>
                        <p>Programming</p>
                        <p>Rock Element</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="story">
            <p>
                Hardcore
            </p>
        </div>

        <div class="m-3">

            <div class="member-card">
                <div class="member-card-inner">
                    <div class="member-card-front">
                        <img src="https://lh3.googleusercontent.com/proxy/L-hDjkUTiX34B875cSmv_-1zIqk0n7LqDE7uA-QM3iU99lvv1HlElTLrmoloqs3dU5OZoS5NuRkB7X1Y6Y6tty0rfub8GDA9wqmFgryIRnkjhZK7TBE9Ia1IMU-RXQ"
                            alt="Member" style="width:200px;height:200px;">
                    </div>

                    <div class="member-card-back">
                        <h1>Saja</h1>
                        <p>Business</p>
                        <p>Forest</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="story">
            <p>
                Smooth </p>
        </div>


        <div class="m-4">

            <div class="member-card">
                <div class="member-card-inner">
                    <div class="member-card-front">
                        <img src="https://vignette.wikia.nocookie.net/dragons-world/images/f/f6/BlackMagicDragonStore.png/revision/latest/scale-to-width-down/340?cb=20140205052756"
                            alt="Member" style="width:200px;height:200px;">
                    </div>

                    <div class="member-card-back">
                        <h1>Fadi</h1>
                        <p>Engineering</p>
                        <p>Mountainous</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="story">
            <p>
                Silent </p>
        </div>



        <div class="m-5">

            <div class="member-card">
                <div class="member-card-inner">
                    <div class="member-card-front">
                        <img src="https://lh3.googleusercontent.com/proxy/FpDpPdFx9ScqsGJOFUG2dueTDxj3Fod9x1AK0K8tEK37F2EFh4SXHHWZyqdbACawFA1VsYAQXf58Sd1Rct_8B-gi5AidWEHb-qgg9GV0yFlpP1JZ5HAkQqC4HPyUQcWhfQ"
                            alt="Member" style="width:200px;height:200px;">
                    </div>

                    <div class="member-card-back">
                        <h1>Rasheed</h1>
                        <p>English</p>
                        <p>Water</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="story">
            <p>
                Calm
            </p>
        </div>

    </div>




    <footer>
        <h1>
            foot
        </h1>
    </footer>
</body>

</html>
<!--  