<!DOCTYPE html>
<html lang="en">

<head>

  <%- include ('../layout/head') %>


</head>

<body id="main">
  <%- include ('../layout/header2') %>
  <main>
    <section id="all">
      <section id="how-sec">
        <ul class="how-ul">
          <li class="">
            <a class="steps" href="#img-container">How to wear mask</a>
          </li>
          <li class="">
            <a class="steps" href="#img-hand">
              How to clean hands</a>
          </li>
          <li class="">
            <a class="steps" href="#img-cough">How to sneeze</a>
          </li>
          <li class="">
            <a class="steps" href="#vid1">Why social distance</a>
          </li>
          <li class="">
            <a class="steps" href="#vid2">Can Mask Protect us</a>
          </li>
          <li class="">
            <a class="steps" href="#vid3">7 important steps</a>
          </li>
        </ul>
      </section>

      <section id="img-container">
        <video id="vid1" class="img-select vid" controls>
          <source src="images/Why is it recommended to avoid close contact with anyone who has fever and cough_.mp4"
            type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <video id="vid2" class="img-select" controls>
          <source src="images/Can masks protect against the new coronavirus infection_.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>
        <video id="vid3" class="img-select" controls>
          <source src="images/Coronavirus - seven steps to prevent the spread of the virus.mp4" type="video/mp4" />
          Your browser does not support the video tag.
        </video>

        <img id="img-cough" class="img-select"
          src="https://image.freepik.com/free-vector/how-cough-sneeze-spreading-virus-man-wrong-cough-hand-correct-method-napkin-elbow-fold-preventive-measures-against-coronavirus_115464-489.jpg"
          alt="" />
        <img id="img-hand" class="img-select"
          src="https://image.freepik.com/free-vector/wash-your-hands-steps-how-wash-your-hands-vector_273525-74.jpg"
          alt="" />
        <img id="img-mask" class="img-select"
          src="https://image.freepik.com/free-vector/how-wearing-face-mask-right-wrong_23-2148707898.jpg" alt="" />
        <img id="" class="img-select" src="" alt="" />
      </section>
    </section>

    <div class="wrap">
      <a href="/search"><button class="button"> Discover</button></a>
    </div>

  </main>
  <%- include ('../layout/footer') %>

  <script src="/js/Page1Control.js"></script>
</body>

</html>