<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../layout/head')  %>
</head>
<body>
    <%- include ('../layout/header') %>
    <main>

<section class="slide-bar"></section>
<ul> <li id="discover-button"><span>DISCOVER</span></li></ul>




<section id="home-section">
    <div  id="top-right">
        <a href="https://www.unicef.org/coronavirus/travelling-your-family-during-covid-19">
            <img class="section-img"src="https://www.theglobeandmail.com/resizer/V7T6PMkgoPFtFkP-X_N2uUiFFes=/620x0/filters:quality(80)/arc-anglerfish-tgam-prod-tgam.s3.amazonaws.com/public/NRPECRA7XVBO3LT3OCPA3JBJOY.jpg" alt="Woman packing a suitcase with clothing.">
        </a>
        <h4 class="fs13">Considering taking a trip? "top-right">
            <a href="https://www.unicef.org/coronavirus/travelling-your-family-during-covid-19">learn more </a></h4>
      </div>
      <div id="top-left">
        <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks">
            <img class="section-img" src="https://180post.com/wp-content/uploads/2020/03/coronavirus-social-media.jpg" alt="Picture tiles of people wearing a masks, with text: wear a mask because">
        </a>
        <h4> Wear a mask because... <a href="https://www.who.int/emergencies/diseases/novel-coronavirus-2019/advice-for-public/when-and-how-to-use-masks">learn more...</a>
        </h4>
      </div>
      <div id="down-right">
        <a href="https://www.cdc.gov/coronavirus/2019-ncov/more/science-and-research.html">
            <img class="section-img" src="https://pbs.twimg.com/media/EXUvBYJVAAAc7zV.jpg" alt="">
 
          </a>
          <h4> Science &amp; Research  <a href="https://www.cdc.gov/coronavirus/2019-ncov/more/science-and-research.html">learn more....</a></h4>
      </div>
      <div id="down-left">
        <a href="https://www.uwb-social-distancing.com/?gclid=CjwKCAiAqJn9BRB0EiwAJ1SztXzFfpJkhB6FPFb1N3Q95yNY0WL7R5Xaw5P6AGc6r6n4-bW5UxWtQxoCmjoQAvD_BwE">
            <img class="section-img" src="https://thespinoff.co.nz/wp-content/uploads/2020/05/trace.jpg" alt="">
          </a>
          <h4> Contact Tracing <a href="https://www.uwb-social-distancing.com/?gclid=CjwKCAiAqJn9BRB0EiwAJ1SztXzFfpJkhB6FPFb1N3Q95yNY0WL7R5Xaw5P6AGc6r6n4-bW5UxWtQxoCmjoQAvD_BwE">learn more....</a></h4>
      </div>
       <!-- <div id="down-center" class="grid-5">
        <a href="/en/publications-data/covid-19-testing" class="ct__link" hreflang="en">
            <img class="section-img" src="https://images.unsplash.com/photo-1584714268709-c3dd9c92b378?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=500&q=60" alt="">
            <h4>Science &amp; Research</h4>
        </a>
      </div>
     -->
</section>
        <!-- <form action="/search" method="POST">
            <input type="text" name="country" placeholder="enter a countray name">
            <input type="date" name="date" placeholder="enter a date ">

        </form>  -->
        
    </main>
    <%- include ('../layout/footer') %>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js "></script>
    <script src="js/app.js"></script>
</body>
</html>





