<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ('../layout/head')  %>
</head>
<body>
    <%- include ('../layout/header') %>
    <main>
        <form action="/search" method="POST">
            <input type="text" name="country" placeholder="enter a countray name">
            <input type="date" name="date" placeholder="enter a date ">

        </form>
        

    </main>
    <%- include ('../layout/footer') %>
</body>
</html>