<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../layout/head') %>
    <style>
      #how-sec {
        margin-top: 700px;
      }
      .how-ul {
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        width: 1435px;
      }
      .how-ul li {
        color: #fff;
        font-size: 30px;
        list-style: none;
        cursor: grabbing;
        background-color: rgb(128, 4, 4);
        border: red solid 1px;
        border-radius: 5px;
        padding: 10px;
        margin: 15px;
        width: 350px;
        text-align: center;
      }

      #img-container {
        box-shadow: 0px 4px 8px 0 rgba(146, 18, 18, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }


      .img-select {
        width: 1000px;
        margin-left: 15%;
        display: none;
        border: red 2px solid;
      }

      #defult {
        width: 1000px;
        margin-left: 15%;
        border: red 2px solid;
      }
    </style>
  </head>
  <body>
    <%- include ('../layout/header') %>
    <main>
      <section class="slide-bar"></section>
      <ul>
        <li id="discover-button">
          <span><a href="/search">DISCOVER</a>></span>
        </li>
      </ul>

      <section id="how-sec">
        <ul class="how-ul">
          <li>How to wear mask</li>
          <li>How to clean hands</li>
          <li>How to sneeze</li>
          <li>How to ....</li>
          <li>How to ....</li>
          <li>How to ....</li>
        </ul>
      </section>

      <section id="img-container">
        <img id="defult" src="images/know.jpg" alt="">
        <img id="img-cough" class="img-select" src="images/cough.gif" alt="" />
        <img id="img-hand" class="img-select" src="images/hand.jpg" alt="" />
        <img id="img-mask" class="img-select" src="images/mask.jpg" alt="" />
        <img id="" class="img-select" src="" alt="" />
        <img id="" class="img-select" src="" alt="" />
        <img id="" class="img-select" src="" alt="" />
      </section>
      -->
    </main>
    <%- include ('../layout/footer') %>
    <script>
      let maskClicklEl = $(".how-ul li")[0];
      let cleanClickkEl = $(".how-ul li")[1];
      let sneezClicklEl = $(".how-ul li")[2];

      $(maskClicklEl).on("click", () => {
        console.log(maskClicklEl);
        $("#defult").hide();
        $("#img-hand").hide();
        $("#img-cough").hide();
        $("#img-mask").slideDown();
      });

      $(cleanClickkEl).on("click", () => {
        console.log(cleanClickkEl);
        $("#defult").hide();
        $("#img-mask").hide();
        $("#img-cough").hide();
        $("#img-hand").slideDown();
      });

      $(sneezClicklEl).on("click", () => {
        console.log(sneezClicklEl);
        $("#defult").hide();
        $("#img-mask").hide();
        $("#img-hand").hide();
        $("#img-cough").slideDown();
      });
    </script>

    <!-- <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script> -->
  </body>
</html>
