<!DOCTYPE html>
<html lang="en">

<head>
    <%- include ('../layout/head')  %>
</head>

<body>
    <%- include ('../layout/header') %>
    <main>
        <div class="login-box">
            <h1>Sign up</h1>
            <form action="/signUp" method="POST">
                <h1><%=result %></h1>
                <div class="user-box">
                    <input name="user" type="text" required placeholder="UserName">
                </div>
                <div class="user-box">
                    <input name="pass" type="password" required placeholder="Password">
                </div>
                <div class="user-box">
                    <input name="cPass" type="password" required placeholder="Confirm Password">
                </div>

                <button class="signIn-button">
                    <span></span>
                    <span></span>
                    <span></span>
                    Submit
                </button>


                <a class="signIn-button" href="/signIn">You Have Already Account ? Signin</a>

            </form>
        </div>

    </main>
    <%- include ('../layout/footer') %>
</body>

</html>