<footer class="footer-distributed">
    <div class="footer-left">
        <h3>Covid <span>stack</span></h3>
        <p class="footer-links">
            <a href="#" class="link-1">Home</a>
            <a href="#">Data</a>
            <a href="#">About Us</a>
        </p>
        <p class="footer-company-name">Covid stack 2020 ®</p>
    </div>
    <div class="footer-center">
        <div>
            <i class="fa fa-map-marker"></i>
            <p><span>Airport Rd. VVX9+5C</span> Amman, Jordan</p>
        </div>
        <div>
            <i class="fa fa-phone"></i>
            <p>+9626 400 0700</p>
        </div>
        <div>
            <i class="fa fa-envelope"></i>
            <p><a href="mailto:covidStack@gmail.com">covid19Up2Date@gmail.com</a></p>
        </div>
    </div>
    <div class="footer-right">
        <p class="footer-company-about" style="font-size: 20px;">
            <span style="font-size: 20px; color: #780678;">About The Website</span>
            the Website that you can stay updated about any new info about covid 19 info all over the world
        </p>
        <div class="footer-icons">
            <a href="#"><img src="../../img/fb-icon.png" alt=""></a>
            <a href="#"><img src="../../img/img/mail-icon.png" alt=""></a>
            <a href="#"><img src="../../img/img/gp-icon.png" alt=""></a>
            <a href="#"><img src="../../img/img/insta-icon.png" alt=""></a>
        </div>
    </div>
</footer>