
<header id="header home">
     <nav id="nav">
        <ul >
          <li class="nav-item active">
            <a class="nav-link" href="#">
              <i class="fa fa-home"></i>
              Home
              <span class="sr-only">(current)</span>
              </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <i class="fa fa-globe">
              </i>
              NEWS
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link disabled" href="#">
              <i class="fa fa-envelope-o">
              </i>
              ABOUT US
            </a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <i class="fa fa-envelope-o">
              </i>
              SHOW
            </a>
        </ul>
      </div>
    </nav> 
     <h2 id="logo">Covid19-Stack</h2>
    </header>
    
    